{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <a href="/">Retour en arrière</a>
    <h1>Modification d'une tâche:</h1>
    {{ form(form) }}
    <a href="/task/delete-{{ id }}">Supprimer la tâche</a>
{% endblock %}